@model About
<div class="container3">
    <div class="my_book_text">
        <p>Sənaye təhlükəsizliyi</p>
    </div>
    <div class="my_book">

        <div data-id="1" class="book_cart_parent">
            <div class="book_cart">
                <img class="photo_aftor" src="~/img/@Model.Image"></img>
                <div class="aftor_text">
                    <p class="aftor_">Sənaye təhlükəsizliyi</p>
                    <br>
                    <p class="name_">                       </p>
                    <a class="btn btn-success" href="@Model.Link">            OXU</a>

                </div>
                <div class="book_opis_block" style="word-wrap:break-word">
                    <p class="book_opis_text">@Model.Description</p>

                </div>

            </div>

        </div>
    </div>
    
   
   
</div>


  
